
footer {
    height: 50px;
    background: -webkit-linear-gradient(top, rgba(38,50,82,1) 100%, rgba(11,24,68,1) 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-text {
    color: rgb(84, 92, 119);
    font-weight: bold;
}
.footer-text span {
    color: rgb(255, 255, 255);
}