* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 50px;
    background: -webkit-linear-gradient(top, rgba(11,24,68,1) 0%,rgba(38,50,82,1) 100%);
}
.menu {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0 auto;

}
.menu_item {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: rgb(200,200,200);
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
}
.menu_item:hover {
    border-bottom: 4px solid #A52A2A;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer;
}